body {
  background: #FFFFF0;
}

.note {
	border: solid; 
	width:200px; 
	height: 200px; 
	background-color: lightblue; 
	margin: 20px; 
	padding: 10px;
	display: inline-block;
	float: left;
}

.new-note {
	background-color: lightgray; 
}