body {
  background: #FDF5E6;
}

.note {
	border: solid; 
	width:200px; 
	height: 200px; 
	background-color: lightblue; 
	margin: 20px; 
	padding: 10px
}

.new-note {
	border: solid; 
	width:200px; 
	height: 200px; 
	background-color: lightblue; 
	margin: 20px; 
	padding: 10px
}