---
layout: default
title: Customers
permalink: /customers/
---

<div class="home">

  <h1>These are all our customers<h1>

  <table class="table table-hover">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Action</th>
    </thead>
    <tbody ng-repeat="customer in data.customers">
      <td>[[{ customer.id }]]</td>
      <td>[[{ customer.name }]]</td>
      <td class="glyphicon glyphicon-remove" ng-click="removeCustomer(customer.id)"></td>
    </tbody>
  </table>

  <button type="submit" class="btn btn-primary" ng-click="addCustomer()">Add</button>



</div>
