---
layout: default
title: Customers
permalink: /customers/
---

<script src="{{ "/js/customers.js" | prepend: site.baseurl }}"></script>

<div class="home" ng-controller="customersController">

  <h3>Customers ([[{ customers.length }]])</h3>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name &nbsp;&nbsp;<input type="text" placeholder="filter" ng-model="filter"></input></th>
        <th ng-show="user.email">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customer in customers | filter:filter">
        <td>[[{ customer.id }]]</td>
        <td>[[{ customer.name }]]</td>
        <td ng-show="user.email" class="glyphicon glyphicon-remove" ng-click="removeCustomer(customer.id)"></td>
      </tr>
      <tr ng-show="user.email">
        <td></td>
        <td><input type="text" ng-model="newCustomer" placeholder="add new..."></input></td>
        <td><button class="btn btn-primary" ng-click="addCustomer()" ng-show="newCustomer">add</button></td>
      </tr>
    </tbody>
  </table>


</div>
