---
layout: default
title: Notes
permalink: /notes/
---

<script src="{{ "/js/notes.js" | prepend: site.baseurl }}"></script>

<div class="home" ng-controller="notesController">

  <h3>Notes ([[{ notes.length }]])</h3>

  <div ng-repeat="note in notes" style="border: solid; width:200px; height: 200px; background-color: lightblue; margin: 20px; padding: 10px">
  	[[{ note.text }]]
  	<div ng-show="user.email" class="glyphicon glyphicon-remove" ng-click="removeNote(note.id)"></div>
  </div>

  <div ng-show="user.email" style="border: solid; width:200px; height: 200px; background-color: lightgray; margin: 20px; padding: 10px">
  	<textarea rows="5" cols="25" type="text" placeholder="new note" ng-model="newNote"></textarea>
  	<button class="btn btn-primary" ng-click="addNote()">+</button>
  </div>

</div>
