<header class="site-header">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% assign sorted_pages = site.pages | sort:"title" %}
        {% for sitePage in sorted_pages %}
          {% if sitePage.title %}<li {% if (page.title == sitePage.title) %}class="active"{% endif %}><a href="{{ sitePage.url | prepend: site.baseurl }}">{{ sitePage.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>     
      <ul class="nav navbar-nav navbar-right" ng-controller="authController">
        <li><a href="#">[[{ user.email }]]</a></li>
        <li><a href="" ng-click="login()" ng-show="!user.email">Log in</a></li>
        <li><a href="" ng-click="logout()" ng-show="user.email">Log out</a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>
